@font-face {
    font-family: 'CreamBeige';
    src: url('./fonts/Cream\ Beige.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


/* h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

  /* Page d'accueil */
.rond1 {
    position: sticky; 
    top: -33vw; 
    background-color: #E4A800;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh; 
    overflow: hidden;
    z-index: 5;
}

.rond2 {
    position: absolute; 
    background-color: #552800;
    width: 34vw;
    height: 34vw;
    border-radius: 50%;
    z-index: 5;
}

h1 {
    position: sticky; 
    top: 0px; 
    text-align: center;
    color: #FF0066;
    font-size: 8vw;
    font-family: 'CreamBeige', sans-serif;
    white-space: nowrap;
    margin-top: -25vw; 
    text-shadow: #000 10px 10px 0;
    z-index: 5;
}

.scrollBas{
    position: absolute;
    top: 85vh;
    transition: 1.5ms;
    width: 100%;
}

.scrollBasGauche{
    left: 30px;
    position: absolute;
}

.scrollBasDroite{
    right: 30px;
    position: absolute;
}

.scrollBas img{
    animation: 1.5s infinite alternate move;
}

@keyframes move{
    from{
        top: 0;
    }
    to{
        top:5vh;
    }
}

.scrollBasTexte{
    text-align: center;
    top: 10vh;
    left: 45vw;
    position: absolute;
    z-index: -1;
    font-family: Roboto, sans serif;

}



/* Corps de la page */

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li{
    text-decoration: none;
    background-color: rgb(46, 46, 46);
    margin: 4%;
    text-align: center;
    border-radius: 20px;
    transition: 0.5s;
}


.typesProjets{
    margin-top: 60vh;
    background-color: #E4A800;
    padding: 5vh 0;
    width: 100%;
    justify-content: center;
} 

.typesProjets li{
    width: 35vw;
    height: 5vw;
    margin: 0 7vw;
    font-size: 1.3vw;
    font-family: 'CreamBeige', sans-serif;
    text-shadow: #000 6px 6px 0;
}

.projetBG{
    margin-top: 50px;
    border-radius: 80% 80% 0 0;
    overflow: visible;
    width: 100%;
    background-color: #FF0066;
}

.projets {
    padding: 0;
    width: 100%;
    overflow-x: scroll; 
    height: 40vw;
    display: flex;
}

.projets .carte {
    flex: 0 0 25vw; 
    max-width: 25vw;
    margin: 2vw; 
    padding:1vw;
    perspective: 1000px;
    transition: 0.15s;
    box-shadow: #000 15px 15px 0;
}

.projets .carte:hover{
    background-color: rgb(65, 65, 65);
}

.projets h2{
    font-family: 'CreamBeige', sans-serif;
    text-shadow: #000 6px 6px 0;
}

.projets .img{
    margin: 0 auto;
    width: 80%;
    background-color: #552800;
    /* height: 60%; */
    overflow-x: scroll;
    border-radius: 20px;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
}


.projets .img div{
    min-width:100%;
    margin-right: 20px;
    background-color: aqua;
    scroll-snap-align: center;
}




/* .pers{
    background-color: rgb(19, 0, 124);
}

.uni{
    background-color: rgb(204, 184, 2);
} */

