body{
    color: white;
    background-color: black;
}

.rond1{
    background-color: #E4A800 ;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.rond2{
    background-color:#552800 ;
    width: 34vw;
    height: 34vw;
    border-radius: 50%;
    justify-content: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

h1{
    text-align: center;
    color: #FF0066;
    font-size: 5vw;
    white-space: nowrap;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 50vh;
}


ul li{
    text-decoration: none;
    background-color: rgb(46, 46, 46);
    width: 100%;
    margin: 1%;
    text-align: center;
    border-radius: 20px;
    transition: 0.5s;
}

li:hover{
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}

.pers{
    background-color: rgb(19, 0, 124);
}

.uni{
    background-color: rgb(204, 184, 2);
}

.typesProjets, .projets {
    margin-top: 100vh; /* Crée un espace en dessous du titre */
    padding: 20px;
}